@page "/"

<PageTitle>Home</PageTitle>

<br />
<h1>About Me</h1>
<br />
<div class = "hometop">
	<Divider>Detail</Divider>
	This web application allows you to check the location 
	of your phone at any time in case you lose it.
</div>
<br />
<div class = "hometop">
Regardless of how impatient you are, the browser can find your phone.
</div>
<br />
	<div class="hometop">
	You can't predict when your phone, with all your valuable data, 
	will be lost while you're out drinking or out and about!
	<Divider></Divider>

</div>
