@page "/prepare"


<PageTitle>Prepare</PageTitle>
<br />
<h1>Prepare</h1>
<br>
<div role="status">

	<SurveyPrompt Title="Register your account." />
	&nbsp;&nbsp;Click on the link.&nbsp;&nbsp;
	<Button Type="@ButtonType.Default"><a href="register">Link Here</a></Button>
	<br>
	<br>
	<SurveyPrompt Title="Let's add a LINE bot." />
	&nbsp;&nbsp;Click on the link.&nbsp;&nbsp;
	<Button Type="primary" OnClick="()=>visible=true" Style="background-color:gray; border-color:black;">
		QR Code
	</Button>

	<Image Width="200"
		   Style=" display: none;"
		   Src="img/linebot.png"
		   PreviewSrc="img/linebot.png"
	@bind-PreviewVisible="visible" />
	<br>
	<br>
	<SurveyPrompt Title="Send your current location to LINE with the automation function!" />

	&nbsp;&nbsp;Click on the link.&nbsp;&nbsp;
	<Button Type="@ButtonType.Default"><a href="https://support.apple.com/ja-jp/guide/iphone/iph6d50ec543/ios">Link Here</a></Button>
	<br>
	<p style=" font-size:20px">
		&nbsp;&nbsp;&nbsp;Acquire your current location at specific times of the day and send the location information to the LINE bot. <br>
		&nbsp;&nbsp;&nbsp;Also, please set the automation function not to confirm before execution.
	</p>

</div>


@code {
	bool visible = false;
  }