

*{
  margin:0;
  padding: 0;
}

body{

}
.content{
margin:1% 18% 0% 18%;
font-family: source-han-sans-japanese,sans-serif;
margin-bottom:3%;
}
h1{
text-align:center;
}

h1 img{
width:35%;
height:35%;
}

.fas{
font-weight: 100;
}

a{
font-size:1.4vw;
color:#545454;
}

a:hover{
text-decoration:none;
color:#545454;
}

img{
width:100%;
height:100%;
}

.topImg{
margin:1% 0%;
}

h2{
font-size:3vw;
font-weight: 100;
color:#000000;
text-align:center;
}


h3{
font-size:2vw;
font-weight: 300;
color:#000000;

}


table{
margin:0% auto;
margin-bottom:2%;
border-spacing : 0px 5px;
border-collapse : separate ;

}

table td{
font-weight: 200;
color:#000000;
padding:5px;
width:13%;
}
table img{
width: 100%;
height:100%;
}

.addressTd{
padding:0vw 3vw 0vw 0vw;
text-align:right;
}


.commentImg{
width:25%;
height:25%;
}

.com input{
outline: none;
width:100%;
}
.comment_name{
width:100%;
}
.comment_text{
outline: none;
width:100%;
padding-bottom:30px;
margin-bottom:3%;
}


button{
border: 1px solid #bfbfbf;
outline: none;
padding: 5px 15px 5px;
background-color: #DAE3F3;
margin-top:3%;
}

.submit_button{
text-align: right;
}

.wrapper {
  display: grid;
  column-gap: 15px;
  row-gap: 1em;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;

}
.wrapper input{
width:100%;
height:100%;	
}

form{
width:100%;
height:100%;
}

form:nth-of-type(4){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

form:nth-of-type(5){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

form:nth-of-type(6){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}


.recomend{
margin-top:5%;
}



footer{
text-align: center;
background-color: #DAE3F3;
margin:0px;
width:100%;
height: 60px;
bottom: 0;
}

/*------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:960px){


.content{
margin:1% 15% 0% 15%;
}
h1 img{
width:50%;
height:50%;
}

a{
font-size:2vw;
}


.topImg{
margin:1% 0%;
}

h2{
font-size:3.5vw;
}


h3{
font-size:2.3vw;
}


table{
border-spacing : 0px 1px;
}

table td{
font-size:2vw;
font-weight: 200;

}
.recomend{
margin-top:3%;
}


}


/*------------------------------------------------------------------*/
@media screen and (max-width:767px){


.content{
margin:1% 7% 0% 7%;
}
h1 img{
width:90%;
height:90%;
}

a{
font-size:3vw;
}



h2{
font-size:5vw;
}


h3{
font-size:3.4vw;
}


table td{
font-size:3vw;
}



}

