@inherits LayoutComponentBase

<PageTitle>lineLocation</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    
    <main class="Polka_v2">

        <div class="top-row px-4">
            <a href="https://github.com/kondo-akihiro-git" target="_blank">About Developer</a>
        </div>

        <article>
            @Body
        </article>
    </main>
    
</div>
