
*{
  margin:0;
  padding: 0;
}

body{
}
.content{
margin:1% 10% 0% 10%;
font-family: source-han-sans-japanese,sans-serif;
font-weight: 300;
font-style: normal;
margin-bottom:3%;
}
.error{
text-align:center;
padding:20px;
background-color:rgb(255, 48, 48,0.5);
margin-bottom:3%;
}
.error p{
text-align:center;
padding:20px;
}
h1{
text-align:center;
}

h1 img{
width:15%;
height:15%;
}


.login_name{
text-align:right;
}

.freeword_search{
text-align:center;
margin-bottom:2%;
}
.input_var{
border: 1px solid #bfbfbf;
outline: none;
padding:6px;
}

h2{
font-size:1.5vw;
}
h3{
font-size:2vw;
text-align:center;
margin-bottom:3%;
}
table{
border-spacing : 10px 10px;
border-collapse : separate ;
width:100%;
height:100%;
}

table td{
width:100%;
height:100%;

}

.form{
text-align:center;
}
.form input,select{
outline:none;
width:50%;
}
.form button{
border:1px solid #545454;
outline:none;
padding:5px;
margin:auto;
}

.radiobotton input{
width:3%;
}

#cate { 
display: none;
}

.pagenation{

}
.pagination li {
display:inline-block;
list-style:none;
margin:auto;
margin-top:50px;
}
nav.pagination-container ul li a {
padding: 15px 18px 13px;
text-decoration:none;
color:#000000;
}

.buttons{
margin:10% 0% 0% 0%;

}
.buttons ul{
width:70%;
margin:auto;
}

.buttons li{
width:160px;
list-style-type: none;
display:inline-block;
margin:2px;
text-align: left;
}



.insertButton a{
background-color:#c7c7c7;
color:#000000;
padding:4px;
}

.insertButton a:hover{
color:#000000;
text-decoration:none;

}

.back a{
font-size:1.2vw;
color:#545454;
}
.back a:hover{
text-decoration:none;
color:#545454;
}


footer{
text-align: center;
background-color: #DAE3F3;
margin:0px;
width:100%;
height: 60px;
bottom: 0;
}


/*------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:960px){


h1 img{
width:20%;
height:20%;
}

h2{
font-size:3vw;
}

.buttons ul{
width:80%;
}

.buttons li{
width:160px;
margin:2px;
}




.back a{
font-size:2vw;
}



}

/*------------------------------------------------------------------*/
@media screen and (max-width:767px){

*{
  margin:0;
  padding: 0;
}

h1 img{
width:30%;
height:30%;
}
h2{
font-size:3vw;
}

.buttons ul{
width:60%;
}

.buttons li{
width:160px;
margin:2px;
}

.back a{
font-size:3vw;
}


}